---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroPage from "../components/molecules/HeroPage.astro";
import HeroPlateforme from "../assets/images/hero/biosphere-experience-biosphere-plateforme.jpg";
---

<BaseLayout pageTitle="Biosphère Plateforme">
  <HeroPage src={HeroPlateforme} alt="Biosphère Experience" />
  <div
    class="container flex flex-col mx-auto gap-6"
  >
    <div id="title">
      <h1 class="flex flex-col gap-1 w-81 sm:w-102">
        <span class="text-5xl sm:text-6xl font-bold uppercase">biosphere</span>
        <span class="self-end text-3xl sm:text-4xl font-bold -mt-2 uppercase"
          >plateforme</span
        >
      </h1>
    </div>
   
    <div class=" border-l border-accent pl-4">
      <h2 class="mt-0 font-bold">Informations clés</h2>
      <ul class="list-disc list-inside">
        <li>Lieu : Baie de Phang Nga, Thaïlande</li>
        <li>Date : 2018</li>
        <li>Durée de l'expérience : 4 mois</li>
      </ul>
    </div>

    <div class="pl-4">
      <h2 class="mt-0 font-bold">Pour en savoir plus</h2>
      <ul class="list-disc list-inside ">
        <li><a href="https://www.arthaud.fr/ma-biosphere/9782080243911" target="_blank" rel="noopener">Le livre "Ma Biosphère", Éditions Arthaud</a></li>
        <li><a href="https://youtu.be/eLe2IlFJFgc?feature=shared" target="_blank" rel="noopener">Le documentaire Arte "4 mois sur ma Biosphère"</a></li>
        <li>Le résumé des résultats <a href="/downloads/Rapport-Biosphere-Plateforme.jpg" download>télécharger ici</a></li>
      </ul>
    </div>
  </div>
  </div>
</BaseLayout>
