---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroPage from "../components/molecules/HeroPage.astro";
import HeroUrbaine from "../assets/images/hero/biosphere-experience-biosphere-urbaine.jpg";

const { Content } = await import("../data/appartement-du-futur.mdx");
---

<BaseLayout pageTitle="Biosphère Urbaine">
  <HeroPage src={HeroUrbaine} alt="Biosphère Urbaine" />
  <div class="container flex flex-col mx-auto gap-6">
    <div id="title">
      <h1 class="flex flex-col gap-1 w-81 sm:w-102">
        <span class="text-5xl sm:text-6xl font-bold uppercase">biosphere</span>
        <span class="self-end text-3xl sm:text-4xl font-bold -mt-2 uppercase"
          >urbaine</span
        >
      </h1>
    </div>

    <div class="col-start-1 border-l border-accent pl-4">
      <h2 class="mt-0">Informations clés</h2>
      <ul class="list-disc list-inside">
        <li>Lieu : Boulogne-Billancourt, Région parisienne</li>
        <li>Date : second semestre 2024</li>
        <li>Durée de l'expérience : 4 mois</li>
      </ul>
    </div>
<h2>Les low-tech de l'appartement</h2>
    <div class=" " ><Content /></div>

    <div class="col-start-1">
      <h2 class="mt-0">Pour en savoir plus</h2>
      <ul class="list-disc list-inside mt-2">
        <li><a href="https://actes-sud.fr/catalogue/lappart-du-futur" target="_blank" rel="noopener">Le livre “L’appart du futur”, Éditions Arte Éditions et Actes Sud</a></li>
        <li><a href="https://www.arte.tv/fr/videos/RC-027056/l-appart-du-futur/" target="_blank" rel="noopener">La web-série Arte “L’appart du futur”</a></li>
        <li>
          Le rapport technique <a
            href="/downloads/Rapport-Biosphere-Urbaine.pdf"
            download>télécharger ici</a>
        </li>
        <li><a href="https://www.boulognebillancourt.com/ma-ville/transition-ecologique-maison-de-la-planete/la-maison-de-la-planete" target="_blank" rel="noopener">L’exposition permanente à la Maison de la Planète, Boulogne-Billancourt</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
