---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroPage from "../components/molecules/HeroPage.astro";
import HeroHistorique from "../assets/images/hero/biosphere-experience-historique.jpg";
---

<BaseLayout pageTitle="Biosphère Historique">
  <HeroPage src={HeroHistorique} alt="Biosphère Historique" />
  <div
    class="container flex flex-col mx-auto gap-6"
  >
    <div id="title">
      <h1 class="flex flex-col gap-1 w-81 sm:w-102">
        <span class="text-5xl sm:text-6xl font-bold uppercase">biosphere</span>
        <span class="self-end text-3xl sm:text-4xl font-bold -mt-2 uppercase"
          >l'histoire</span
        >
      </h1>
    </div>
    <div>  
    <p>Il existe des technologies et savoir-faire innovants, accessibles à tous et durables pour répondre à nos besoins tels que la production d'énergie, de nourriture ou encore le recyclage des déchets.</p>
    <p>Depuis près de 10 ans, le Low-tech Lab en repère des dizaines à travers le monde, notamment grâce à l’expédition autour du monde avec le catamaran-laboratoire Nomade des Mers. </p>
    <p>L'association a documenté et diffusé gratuitement ces innovations low-tech via internet, des livres et des films.</p>
</div>
    <div class=" border-l border-accent pl-4">
      <h2 class="mt-0 font-bold">Informations clés</h2>
     <ul class="list-disc list-inside mt-2">
        <li>Le site du Low-tech Lab</li>
        <li>Les tutoriels du Low-tech Lab</li>
        <li>Le livre Nomade des Mers</li>
        <li>La série documentaire Arte “Les escales de l’innovation” (25 films de 26 minutes)</li>
      </ul>
    </div>
<div>
    <p>En 2018, Corentin de Chatelperron lance le programme Biosphère en expérimentant une combinaison d'innovations low-tech sur une plateforme flottante en Thaïlande. Véritable explorateur de mode de vie, sa quête est de trouver un mode de vie qui soit à la fois désirable et durable pour le futur.</p>
    <p>En 2023 il mène une seconde expérience avec la designer belge Caroline Pultz, cette fois en milieu aride, dans le désert mexicain. Culture de champignons, de plantes et d’algues, utilisation de l'énergie solaire, matériaux biosourcés, utilisation de l'eau en circuit fermé... Sur 60m², l'écosystème de cette nouvelle Biosphère est un habitat qui ne génère plus de déchets, mais des ressources. Des dizaines d'experts ont été mobilisés pour cette expérience, du médecin au nutritionniste, en passant par des spécialistes du vivant, de la cuisine écologique ou encore de la tente.</p>
    <p>En 2024, l'équipe s'attaque à un nouveau défi : au sein d'une nouvelle association "BIOSPHERE EXPERIENCE", elle applique la démarche low-tech à un milieu urbain dense, en région parisienne. Pendant 4 mois (de mi-juillet à mi-novembre 2024), un appartement expérimental à Boulogne-Billancourt a servi de laboratoire pour imaginer un mode de vie zéro déchet, divisant par 10 la consommation d'eau, et atteignant les objectifs 2050 de l'ONU en matière de réduction des émissions de gaz à effet de serre, et qui soit à la fois accessible à tous et désirable ! L'appartement, au coeur d'un écosystème d'une vingtaine d'acteurs de différents domaines : élevage de larves pour le recyclage des déchets organiques, culture de champignons et de plantes pour l'alimentation, production de biogaz pour la cuisine, supermarché participatif, ferme bio, etc. a permis de tester des pratiques prospectives pour réfléchir au futur des villes. La Biosphère Urbaine a été démontée et l'équipe partage les résultats sous forme d'un rapport expérimental, de tutoriels open-source, d’expositions ainsi que d'une série de documentaires Arte. Cette documentation a pour but d'inspirer des initiatives futures dans les zones urbaines.</p>
    <p>L’association Biosphere Experience a vocation à continuer à explorer le concept Biosphère dans différents contextes, en s'appuyant sur un réseau d'experts, de scientifiques et d’écoles. Une véritable NASA du low-tech dont l'ambition est de créer une nouvelle vision du futur, qui réponde aux enjeux planétaires actuels, tout en étant sain, juste et enthousiasmant pour ses habitants.</p>
    </div>


  </div>
</BaseLayout>
