---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroPage from "../components/molecules/HeroPage.astro";
import { Picture } from "astro:assets";
import Heroequipe from "../assets/images/hero/biosphere-experience-equipe.jpg";
import soberLogo from "../assets/logos/SoberStudio-logo.svg";
---

<BaseLayout pageTitle="Biosphère Équipe">
  <HeroPage src={Heroequipe} alt="Biosphère Équipe" />
  <div class="container flex flex-col mx-auto gap-6">
    <div id="title" class="mb-6">
      <h1 class="flex flex-col gap-1 w-74 sm:w-102">
        <span class="text-5xl sm:text-6xl font-bold uppercase">Site web</span>
        <span class="self-end text-3xl sm:text-4xl font-bold -mt-2 uppercase"
          >éco conçu</span
        >
      </h1>
    </div>
<div class="prose max-w-none">
     <h2 class="mt-0">Un site éthique et ultra performant</h2>

<p> En collaboration avec <span><a href="https://soberstudio.dev" target="_blank" rel="noopener noreferrer" class="font-bold">Sober Studio</a></span> nous avons pris le soins de construire notre site internet de la mannière la plus éthique possible. Non seulement nous avons optimisé le code pour réduire son empreinte carbone, mais nous avons également choisi des hébergeurs écologiques et mis en place des pratiques de développement durable.</p>

   <h2>Considérations écologiques</h2>

  <p>Les estimations de l'impact climatique de l'industrie du web varient entre <a href="https://www.sciencefocus.com/science/what-is-the-carbon-footprint-of-the-internet/" 
  target="_blank" rel="noopener noreferrer">2 %</a> et <a href="https://www.bbc.com/future/article/20200305-why-your-internet-habits-are-not-as-clean-as-you-think" 
  target="_blank" rel="noopener noreferrer">4 % des émissions mondiales de carbone</a>, ce qui équivaut à peu près aux émissions de l'industrie du transport aérien.
  Le calcul de l'impact écologique d'un site web repose sur de nombreux facteurs complexes.</p>

  <p>La bonne nouvelle, c'est que ce site est <a href="https://www.websitecarbon.com/website/biosphere-experience-org/" target="_blank" rel="noopener noreferrer">plus propre
  que 99 % des pages web testées</a>, produisant 0,01 g de CO₂ par page visitée.</p>

  <h2>Poids de la page</h2>

  <p>Plus une page web transfère de données, plus elle nécessite de ressources énergétiques. En avril 2023, la page web médiane demandait à l'utilisateur de télécharger plus
  de 2 000 Ko selon les <a href="https://httparchive.org/reports/state-of-the-web" target="_blank" rel="noopener noreferrer">données de l'archive HTTP</a>.</p>

  <p>Notre site crée des pages aussi légères que possible. Par exemple, lors de sa première visite, un utilisateur téléchargera moins de 50 Ko de données compressées, soit
  seulement 2,5 % de la médiane des archives HTTP. Avec une bonne stratégie de mise en cache, les navigations suivantes peuvent télécharger jusqu'à 10 Ko.</p>

  <h2>Images</h2>

  <p>Notre site utilise une prise en charge des ressources optimisées pour les images afin de réduire leur poids et d'améliorer les performances de chargement.</p>

  <h2>Composants d'interface utilisateur</h2>

  <p>Les composants créés avec des frameworks d'interface utilisateur tels que React ou Vue peuvent facilement ajouter de grandes quantités de JavaScript à une page. Notre
  site étant construit sur Astro, les composants de ce type chargent zéro JavaScript côté client par défaut.</p>

  <h2>Mise en cache</h2>

  <p>La mise en cache est utilisée pour contrôler la durée pendant laquelle un navigateur stocke et réutilise les données qu'il a déjà téléchargées. Une bonne stratégie de
  mise en cache permet à l'utilisateur d'obtenir un nouveau contenu dès qu'il est modifié, tout en évitant de télécharger inutilement le même contenu à plusieurs reprises
  lorsqu'il n'a pas changé.</p>

  <h2>Consommation d'énergie</h2>

  <p>La façon dont une page web est construite peut avoir un impact sur la puissance nécessaire pour fonctionner sur l'appareil d'un utilisateur. En utilisant un minimum de
  JavaScript, notre site réduit la puissance de traitement dont le téléphone, la tablette ou l'ordinateur d'un utilisateur a besoin pour charger et afficher les pages.</p>

  <p>L'analyse et la compilation de JavaScript est l'une des tâches les plus coûteuses pour les navigateurs. Par rapport au rendu d'une image JPEG de même taille, <a 
  href="https://medium.com/dev-channel/the-cost-of-javascript-84009f51e99e" target="_blank" rel="noopener noreferrer">le traitement de JavaScript peut prendre plus de 30 fois
  plus de temps</a>.</p>

  <h2>Hébergement</h2>

  <p>Le lieu d'hébergement d'une page web peut avoir un impact important sur le degré de respect de l'environnement d'un site. Les centres de données et les fermes de serveurs
   peuvent avoir un impact écologique important, notamment en raison de leur consommation élevée d'électricité et de leur utilisation intensive de l'eau.</p>

  <p>Nous avons fait le choix d'un hébergeur utilisant des énergies renouvelables pour réduire les émissions de carbone de notre site. Le <a 
  href="https://www.thegreenwebfoundation.org/directory/" target="_blank" rel="noopener noreferrer">Green Web Directory</a> est un outil qui peut vous aider à trouver des
  hébergeurs.</p>

</div>



    <div class="">
      <h2 class="mt-0 font-bold">Pour en savoir plus</h2>
      <ul class="list-disc list-inside">
             <li>
          <a
            href="https://www.soberstudio.dev/"
            target="_blank"
            rel="noopener noreferrer">Site de Sober Studio</a>
        </li>
        <li>
          <a
            href="https://www.websitecarbon.com/"
            target="_blank"
            rel="noopener noreferrer">Website Carbon Calculator</a>
        </li>
        <li>
          <a
            href="https://greenframe.io/"
            target="_blank"
            rel="noopener noreferrer">GreenFrame</a>
        </li>
        <li>
          <a
            href="https://ecograder.com/"
            target="_blank"
            rel="noopener noreferrer">Ecograder</a>
        </li>
        <li>
          <a
            href="https://www.webpagetest.org/carbon-control/"
            target="_blank"
            rel="noopener noreferrer">WebPageTest Carbon Control</a>
        </li>
        <li>
          <a
            href="https://ecoping.earth/"
            target="_blank"
            rel="noopener noreferrer">Ecoping</a>
        </li>
      </ul>
    </div>

    <div class="">
      <h2 class="mt-0 font-bold">Articles et discussions</h2>
      <ul class="list-disc list-inside">
        <li>
          <a
            href="https://youtu.be/EfPoOt7T5lg"
            target="_blank"
            rel="noopener noreferrer">“Building a greener web”</a
          >, conférence de Michelle Barker
        </li>
        <li>
          <a
            href="https://www.smashingmagazine.com/2022/10/sustainable-web-development-strategies-organization/"
            target="_blank"
            rel="noopener noreferrer"
            >“Sustainable Web Development Strategies Within An Organization”</a
          >, article par Michelle Barker
        </li>
        <li>
          <a
            href="https://2021.stateofthebrowser.com/speakers/tom-greenwood/"
            target="_blank"
            rel="noopener noreferrer">“A sustainable web for everyone”</a
          >, conférence de Tom Greenwood
        </li>
        <li>
          <a
            href="https://webkit.org/blog/8970/how-web-content-can-affect-power-usage/"
            target="_blank"
            rel="noopener noreferrer"
            >“How Web Content Can Affect Power Usage”</a
          >, article de Benjamin Poulain et Simon Fraser
        </li>
      </ul>
    </div>
  </div>
</BaseLayout>
